.header {
    height: 32vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    margin-top: -30px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 4vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: 4.5vw;
    width: 50vw;
  
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
  
}

@media (max-width:1050px) {

    .header {
        border-radius: 30px;
    }
    .header-contents {
        max-width: 45%;
    }
    .header-contents p {
        font-size: 1.1vw;
    }
}

@media (max-width:750px) {

    .header {
        border-radius: 20px;
    }
    .header-contents {
        max-width: 65%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 3vw;
        font-size: 2vw;
    }
}